body { 
    background-color: black;
}
table {
    border: 2px black solid;
    margin:auto;
    border-collapse: collapse;
}
td {
padding: 40px;
background-color:white;
}
tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
    background-color:black;
}